# Database Settings
POSTGRES_DB=filecloud
POSTGRES_USER=filecloud_user
POSTGRES_PASSWORD=

# Backend Settings
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Minio Settings
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=
MINIO_BUCKET_NAME=uploads